<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
              integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="../static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <div >
            <header >
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

                <a class="pure-menu-heading" href="">Swoletrics</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item "><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item "><a href="#" class="pure-menu-link">Sign up</a></li>
                    <li class="pure-menu-item "><a href="#" class="pure-menu-link">Sign in</a></li>
                </ul>

                </div>
            </header>

        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                {%  block content %}

                {%  endblock %}

                {% block sidebar %}
                {% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>Swoletrics by Edwin Baeza </a></p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery ||
        document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.0.min.js') }}"><\/script>')
        </script>

    </body>
</html>
