{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Swoletrics -- Welcome
{%  endblock %}

{% block content %}
<article>

        </section>
            <div class="splash-container">
                <div class="splash">
                    <h1 class="splash-head">Embark on your fitness journey</h1>
                    <p class="splash-subhead">Designed with progression in mind
                    </p>
                    <p><a href="https://muscleandstrengthpyramids.com/" class="pure-button pure-button-primary">Learn More</a>
                    <a href="{{url_for('auth.signup')}}" class="pure-button pure-button-primary">Get Started</a></p>
                    </p>

                </div>
            </div>
        <section>



</article>


<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Why Swoletrics?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    Learn how to progress
                </h3>
                <p>
                    Understand the Principle of Progressive Overload and its ramifications.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    A program tailored for you
                </h3>
                <p>
                    Workout routines designed for progress.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Visualize your progress
                </h3>
                <p>
                    Easily analyse your training.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    The way forward
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>

        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
<!--        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        </div>-->
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Knowledge and tools to propel your lifting.</h2>
<!--
            <p>
                The Swoletrics platfrom
            </p>-->
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Get Started Today</h2>

        <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_field(form.username) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password2) }}
                    <br/>
                    <button type="submit" class="pure-button"> Sign up </button>


                </fieldset>
            </form>
        </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Edwin Baeza
                </p>

                <h4>More Information</h4>
                <p>
                    The Pyramids
                </p>
            </div>
        </div>

    </div>

{%block footer %}
    <div class="footer l-box is-center">
        <footer class="wrapper">
            <p>Swoletrics WIP by Edwin Baeza<p>
        </footer >
    </div>
{% endblock%}

</div>


{% endblock %}

