{% extends "base.html" %}

{% block title %}
Swoletrics -- Welcome
{%  endblock %}

{% block splash %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p> Swoletrics is a fitness platform designed with progression in mind. <p>
        </header>


        </section>
            <div class="splash-container">
                <div class="splash">
                    <h1 class="splash-head">Embark on your fitness journey</h1>
                    <p class="splash-subhead">Designed with progression in mind.
                    </p>
                    <p><a href="{{url_for('auth.signup')}}" class="pure-button pure-button-primary">Get Started</a></p>
                </div>
            </div>
        <section>
{% endblock %}

{% block content %}
<!--            <div class="content-wrapper">-->

<!--                <div class="content">-->

<!--                    <div class="pure-g">-->

<!--                        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">-->
<!--                            <h4>Contact Us</h4>-->
<!--                            <p>-->
<!--                                Edwin Baeza-->
<!--                            </p>-->

<!--                            <h4>More Information</h4>-->
<!--                            <p>-->
<!--                                The pyramids-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->

            <div class="footer l-box is-center">
                    <footer class="wrapper">
                        <p>Swoletrics WIP by Edwin Baeza<p>
                    </footer >
            </div>

    </article>
{% endblock %}

