{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Login
{%  endblock %}


{% block content %}

<br/><br/>

    <h2 class="content-head is-center">Login</h2>
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5 ">
            <form class="pure-form pure-form-aligned" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="pure-group">

                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}

                   <label class = "pure-checkbox">   <div style="float: left; display: inline; vertical-align: middle;">Remember Me
                        <input style="float: left; display: inline; " type="checkbox"/> </div>
                   </label>
                    <br/><br/>
                    <div style="clear: both"/>
                    <button type="submit" class="pure-button"> Sign in</button>

                </fieldset>
            </form>
        </div>



        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>Contact Us</h4>
            <p>
                Edwin Baeza
            </p>

            <h4>More Information</h4>
            <p>
                The pyramids
            </p>
        </div>
    </div>

</br>


{% endblock%}